<blockquote class="has-grid-3 warning">
    <p>
        This page is best viewed using a browser with css "grid3" support, learn
        how to enable it in your browser
        <a href="{{site.baseURL}}/articles/2025-03-16-a-personal-website#enabling-grid-3-support">here</a>.
    </p>
</blockquote>
