<header>
    <nav>
        {{#navigation}}
        {{#children}}
        <div class="navigation-{{ style }} navigation-item">
            <a href="{{ url }}">{{ label }}</a>
        </div>
        {{/children}}
        <div class="navigation-spacer"></div>
        {{/navigation}}
    </nav>
</header>
