<header>
    <nav>
        <div class="navigation-secondary navigation-item">
            <a href="/">rauhul</a>
        </div>
        <div class="navigation-spacer"></div>
        {{#navigation}}
        <div class="navigation-primary navigation-item">
            <a href="{{url}}"{{#class}} class="{{.}}"{{/class}}>{{label}}</a>
        </div>
        {{/navigation}}
        <div class="navigation-spacer"></div>
    </nav>
</header>
