{{<html}}
{{$main}}

<h1>{{page.title}}</h1>

<div class="article-grid">
    {{#site.context.articles}}
    <article class="article-item">
        <img class="article-image" src="{{site.baseUrl}}/images/{{slug}}/hero.png" alt="Hero" loading="lazy">
        <div class="article-metadata">
            <div>
                <time datetime="{{publication.html}}">{{publication.html}}</time>
                &middot; <span class="reading-time">{{readingTime}}m read</span>
            </div>
            <h2 class="title"><a href="{{permalink}}">{{title}}</a></h2>
            <p>{{description}}</p>
            <div class="tags">
            {{#tags}}
                <a class="tag" href="#{{.}}"><small>{{.}}</small></a>
            {{/tags}}
            </div>
        </div>
    </article>
    {{/site.context.articles}}
</div>

<a href="/articles/page/1">Browse all articles</a>

{{/main}}
{{/html}}
