{{<html}}
{{$main}}

<h1>{{page.title}}</h1>

{{#links}}
<h2>{{section}}</h2>
<div class="link-grid">
    {{#links}}
    <a href="{{profile-url}}">
        <figure class="link-item">
            <div class="link-image-wrapper">
                <img class="link-image" src="{{site.baseUrl}}/images/logos/{{service}}.svg" alt="{{service}} Logo" loading="lazy">
            </div>
            <div class="link-details">
                <span class="link-details-service">{{service}}</span>
                <span class="link-details-user">{{user}}</span>
            </div>
        </figure>
    </a>
    {{/links}}
</div>
{{/links}}

{{/main}}
{{/html}}
