<script src="{{site.baseUrl}}/js/photos.js"></script>

<div class="photo-overlay hidden">
    <img class="photo-overlay-image" src="https://rauhulpic.dws.rip/download/pics/elohim_1.png" alt="" loading="lazy">
</div>

{{<html}}
{{$main}}

<h1>{{page.title}}</h1>

{{> partials.grid3-warning}}

{{#albums}}
<h2>{{title}}</h2>
<div class="photo-grid">
    {{#photos}}
    <figure class="photo-item{{#wide}} wide{{/wide}}">
        <img class="photo-image" src="{{url}}?max_width=256" alt="{{description}}" loading="lazy">
        <div class="photo-metadata">
            {{focal-length}}mm | f/{{aperture}} | {{ shutter-speed }}s | ISO{{iso}}
        </div>
    </figure>
    {{/photos}}
</div>
{{/albums}}

{{/main}}
{{/html}}
