<!DOCTYPE html>
<html {{#site.language}}lang="{{.}}"{{/site.language}}>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{page.title}} - {{site.title}}</title>
    <meta name="description" content="{{page.description}}">
    
    <meta property="og:url" content="{{page.permalink}}">
    <meta property="og:title" content="{{page.title}} - {{site.title}}">
    <meta property="og:description" content="{{page.description}}">
    {{#page.imageUrl}}<meta property="og:image" content="{{.}}">{{/page.imageUrl}}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{page.title}} - {{site.title}}">
    <meta name="twitter:description" content="{{page.description}}">
    {{#page.imageUrl}}<meta name="twitter:image" content="{{.}}">{{/page.imageUrl}}

    <link rel="stylesheet" href="{{site.baseUrl}}/css/reset.css">
    <link rel="stylesheet" href="{{site.baseUrl}}/css/color.css">
    <link rel="stylesheet" href="{{site.baseUrl}}/css/theme.css">

    <link rel="stylesheet" href="{{site.baseUrl}}/css/header.css">
    <link rel="stylesheet" href="{{site.baseUrl}}/css/content.css">
    <link rel="stylesheet" href="{{site.baseUrl}}/css/footer.css">    

    <link rel="stylesheet" href="{{site.baseUrl}}/css/articles.css">
    <link rel="stylesheet" href="{{site.baseUrl}}/css/photos.css">
    <link rel="stylesheet" href="{{site.baseUrl}}/css/links.css">
    {{#page.css}}<link rel="stylesheet" href="{{.}}">{{/page.css}}

    <link rel="stylesheet" href="{{site.baseUrl}}/css/highlight.css">
    <script src="{{site.baseUrl}}/js/highlight.js"></script>
    <script src="{{site.baseUrl}}/js/c.js"></script>
    <script src="{{site.baseUrl}}/js/shell.js"></script>
    <script src="{{site.baseUrl}}/js/swift.js"></script>
    <script>hljs.highlightAll();</script>
</head>

<body>
    <div class="content">
        <div class="content-body">
            <div class="content-body-column-navigation">
                {{> partials.header}}
            </div>
            
            <div class="content-body-column-main">
                <main>
                    {{$main}}{{/main}}
                </main>
            </div>
        </div>
        <div class="content-footer">
            {{> partials.footer}}
        </div>
    </div>

    {{#page.js}}<script src="{{.}}" async></script>{{/page.js}}
</body>
</html>
