.article-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));
    grid-template-rows: masonry;
    column-gap: 1rem;

    .article-item {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .article-image {
            border-radius: 1ch;
            width: 100%;
            height: auto;
            aspect-ratio: 16/9;
            object-fit: cover;
            margin-bottom: 0.2rem;
        }

        .article-header {
            color: var(--uchu-yin-4);
            font-size: 0.8rem;
        }

        .article-title {
            color: var(--heading-color, #333);
        }

        .article-description {
            margin: 0.6rem 0;
            color: var(--uchu-yin-5);
            font-size: 0.9rem;
        }

        &:hover {
            .article-image {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
            }

            .article-title {
                text-decoration: underline;
                color: var(--uchu-blue-4);
            }
        }
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: auto;

    .tag {
        border: 1px solid var(--uchu-gray-4);
        background-color: var(--uchu-gray-1);
        color: var(--uchu-yin-6);
        padding: 0.3rem 0.6rem;
        border-radius: 50px;
        font-size: 0.7rem;
    }

    .tag:hover {
        background-color: var(--uchu-gray-3);
    }
}
