.article-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30ch, 1fr));
    grid-template-rows: masonry;
    gap: 1rem;
    row-gap: 2rem;

    .article-item {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .article-image-wrapper {
            border-radius: 1ch;
            overflow: hidden;

            .article-image {
                display: block;
                object-fit: cover;
                width: 100%;
                height: auto;
                aspect-ratio: 16/9;
            }
        }

        .article-header {
            color: var(--uchu-yin-6);
            font-size: 0.8rem;
        }

        .article-description {
            margin: 0.6rem 0;
            color: var(--uchu-yin-6);
            font-size: 0.9rem;
        }

        &:hover {
            .article-image-wrapper {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
   
                .article-image {
                    transform: scale(1.02);
                }
            }

            .article-title {
                text-decoration: underline;
                color: var(--uchu-blue-4);
            }
        }
    }
}
