.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100vw;

    .content-body {        
        flex-grow: 1;
        display: flex;
        flex-direction: row;

        .content-body-column-main {
            flex-grow: 1;
            padding: 1rem;

            height:100%;
            width: 100%;

            main {
                margin: auto;
                max-width: 800px;
            }
        }

        .content-body-column-navigation {
            width: 8rem;
            padding: 1rem;
            
            display: flex;
            text-align: right;
            flex-direction: row;
            height: 100%;
        }    
    }

    .content-footer {
        width: 100%;
        max-width: 100%;
        background-color: var(--uchu-gray-2);
    }
}
