.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-width: 100vw;

    .content-body {
        flex-grow: 1;
        display: flex;
        justify-content: center;

        .content-body-column-navigation {
            padding: 1rem;
            padding-top: 1rem;

            display: flex;
            justify-content: flex-end;
            text-align: right;
        }

        .content-body-column-main {
            padding: 1rem;
            padding-top: 1rem;

            max-width: 1000px;
            min-width: 0px;
            flex-grow: 1;
        }
    }

    .content-footer {
        width: 100%;
        max-width: 100%;
        background-color: var(--uchu-gray-2);
    }
}
