footer {
    width: 100%;
    padding: 0.5rem; /* Add padding for better readability */
    box-sizing: border-box; /* Include padding in width calculation */

    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: right;
}
