.hljs-comment {
  color: var(--uchu-yellow-7);
}
.hljs-tag,
.hljs-punctuation {
  color: var(--uchu-pink-7);
}
.hljs-tag .hljs-name,
.hljs-tag .hljs-attr {
  color: var(--uchu-pink-7);
}
.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta .hljs-keyword,
.hljs-doctag,
.hljs-name {
  color: var(--uchu-pink-7);
  font-weight: bold
}
/* User color: hue: 0 */
.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: var(--uchu-purple-7);
}
.hljs-title,
.hljs-section {
  color: #880000;
  font-weight: bold
}
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: var(--uchu-orange-7);
}
/* Language color: hue: 90; */
.hljs-operator,
.hljs-literal {
  color: var(--uchu-red-7);
}
.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: var(--uchu-green-7);
}
/* Meta color: hue: 200 */
.hljs-meta {
  color: var(--uchu-red-7);
}
.hljs-meta .hljs-string {
  color: var(--uchu-blue-7);
}
/* Misc effects */
.hljs-emphasis {
  font-style: italic
}
.hljs-strong {
  font-weight: bold
}