.link-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-template-rows: masonry;
    gap: 1rem;

    .link-item {
        height: 4rem;

        margin: 0;
        border-radius: 1ch;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        background-color: var(--uchu-gray-2);

        .link-image-wrapper {
            flex-shrink: 0;
            height: 3rem;
            width: 3rem;
            padding: 0.5rem;

            display: block;
            overflow: hidden;
            
            background-color: var(--uchu-blue-3);

            .link-image {
                height: 100%;
                width: 100%;
                overflow: hidden;    
                filter: invert(1);
                transition: all .2s ease-in-out;
            }
        }

        .link-details {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            padding-top: 0.6rem;
            padding-right: 0.7rem;
            padding-left: 0.7rem;
            padding-bottom: 1.3rem;

            box-sizing: border-box; /* Include padding in width calculation */        
            transition: all .2s ease-in-out;

            .link-details-service {}

            .link-details-user {
                white-space: nowrap; /* Prevent text from wrapping */
                overflow: hidden; /* Hide overflow text */
                text-overflow: ellipsis; /* Add ellipsis for overflow text */
            }
        }
    }

    .link-item:hover {
        filter: opacity(0.8);

        .link-image-wrapper {
            .link-image {
                transform: scale(1.05);
            }
        }
    }
}
