.photo-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(18ch, 1fr));
  
    @supports (grid-template-rows: masonry) {
        grid-template-rows: masonry;
    }

    /*
    Seems to have an issue when screen is very narrow. repeat never returns 0
    display: grid;
    grid-template-columns:
        repeat(auto-fit, minmax(8rem, 1fr) minmax(14rem, 2fr))
        minmax(8rem, 1fr);
    grid-template-rows: masonry;
    gap: 1rem;
    */

    .photo-item {
        position: relative; /* Add relative positioning */
        border-radius: 1ch;
        overflow: hidden;
        background-color: white;

        @supports not (grid-template-rows: masonry) {
            max-width: 200px;
            max-height: 200px;
        }

        .photo-image {
            width: 100%;
            height: auto;
            display: block;
            @supports not (grid-template-rows: masonry) {
                aspect-ratio: 1;
                object-fit: cover;
            }
        }
    
        .photo-metadata {
            position: absolute; /* Add absolute positioning */
            bottom: 0; /* Align to the bottom */
            left: 0; /* Align to the left */
            
            width: 100%; /* Full width */
            padding: 0.5rem; /* Add padding for better readability */
            box-sizing: border-box; /* Include padding in width calculation */
    
            font-size: 0.7rem;
            font-family: monospace;
            font-weight: bold;
            text-align: right;
            white-space: nowrap; /* Prevent text from wrapping */
            overflow: hidden; /* Hide overflow text */
            text-overflow: ellipsis; /* Add ellipsis for overflow text */
            
            background: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(5px); /* Add blur effect */
            opacity: 0; /* Hide metadata by default */
        }
    }

    .photo-item:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

        .photo-image {
            transform: scale(1.02);
        }

        .photo-metadata {
            opacity: 1;
        }
    }
}

.photo-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(1rem);
    display: flex;
    justify-content: center;
    align-items: center;

    &.hidden {
        opacity: 0;
        display: none;
    }

    .photo-overlay-image {
        border-radius: 1ch;

        margin: auto;
        max-width: 80vw;
        max-height: 80vh;
    }
}
