main {
    .photo-grid {
        display: grid;
        gap: 0.2em;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        grid-template-rows: masonry;
    }

    .photo-item-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .photo-item {
        display: flex;
        flex-direction: column; /* Stack image + metadata */
        align-items: center;
    }

    .photo-img {
        width: 100%;
        height: auto;
        display: block;
    }

    .photo-metadata {
        font-size: 0.8rem;
        font-family: monospace;
        color: black;
        text-align: right;
        background: rgba(255, 255, 255, 0.7); /* Subtle background */
        width: 100%;
    }
}
