:root {
    /* color-scheme: light dark; */
    /* background: light-dark(white, #222); */

    font-family: -apple-system,BlinkMacSystemFont,Roboto,"Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    font-variant-ligatures: common-ligatures;
    font-feature-settings: "liga";
    line-height: 1.3;
}
