.article-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    grid-gap: 1rem;

    .article-item {
        display: flex;
        flex-direction: column;
        border-radius: 1ch;
        overflow: hidden;
        background-color: white;
        border: 1px solid var(--uchu-gray-3);

        .article-image {
            width: 100%;
            aspect-ratio: 16/9;
            object-fit: cover;
            border-bottom: 1px solid var(--border-color, #eee);
        }
        
        .article-metadata {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            time, .reading-time {
                color: var(--muted-text, #666);
                font-size: 0.8rem;
                margin-bottom: 0.5rem;
            }
            
            .title {
                margin: 0.5rem 0;
                font-size: 1.2rem;
                
                a {
                    color: var(--heading-color, #333);
                    text-decoration: none;
                    
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            
            p {
                color: var(--text-color, #555);
                font-size: 0.9rem;
                margin-bottom: 1rem;
                flex-grow: 1;
            }            
        }
    }

    .article-item:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }
}

@media (max-width: 768px) {
    .article-grid {
        grid-template-columns: 1fr;
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: auto;
    
    .tag {
        background-color: var(--uchu-gray-1);
        color: var(--uchu-yin-6);
        padding: 0.3rem 0.6rem;
        border-radius: 50px;
        font-size: 0.7rem;
    }

    .tag:hover {
        background-color: var(--uchu-gray-2);
    }
}
