header {
    .navigation-primary {
        color: var(--uchu-yin-9);
    }

    .navigation-secondary {
        color: var(--uchu-yin-6);
    }

    .navigation-spacer {
        height: 2em;
    }

    .navigation-item {
        display: block;
        width: 100%;
        line-height: 1.5rem;
        font-size: 1rem;
        font-weight: bold;

        &:hover {
            color: var(--uchu-yin-4);
        }
    }
}