.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-template-rows: masonry;
    gap: 1rem;

    .photo-item {
        position: relative; /* Add relative positioning */
        border-radius: 1ch;
        overflow: hidden;
        background-color: white;
        border: 1px solid var(--uchu-gray-3);

        .photo-image {
            width: 100%; 
            height: auto;
            display: block;
        }
    
        .photo-metadata {
            position: absolute; /* Add absolute positioning */
            bottom: 0; /* Align to the bottom */
            left: 0; /* Align to the left */
            
            width: 100%; /* Full width */
            padding: 0.5rem; /* Add padding for better readability */
            box-sizing: border-box; /* Include padding in width calculation */
    
            font-size: 0.8rem;
            font-family: monospace;
            font-weight: bold;
            text-align: right;
            white-space: nowrap; /* Prevent text from wrapping */
            overflow: hidden; /* Hide overflow text */
            text-overflow: ellipsis; /* Add ellipsis for overflow text */
            
            background: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(3px); /* Add blur effect */
            opacity: 0; /* Hide metadata by default */
    
        }
    }

    .photo-item:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

        .photo-image {
            transform: scale(1.02);
        }

        .photo-metadata {
            opacity: 1;
        }
    }
}
