#home h1 {
    text-transform: uppercase;
}

.content {
    display: flex;
    flex-direction: row;
}

.navigation {
    display: flex;
    flex-direction: column;
}

.navigation-column {
    width: 8rem;
    padding: 10px;
    align-items: start;
}

.content-col {
    flex-grow: 1;
    padding: 10px;
}